[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "agriTutorial"]
	path = agriTutorial
	url = https://github.com/cran/agriTutorial
[submodule "blocksdesign"]
	path = blocksdesign
	url = https://github.com/cran/blocksdesign
